html {
  background-color: #719390;
}
.calc-box {

}
table {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  font-variant: small-caps;
}
.calc-table td {
  height: 100px;
  width: 100px;
  color: black;
  background-color: lightgrey;
  /*border: 1px solid black;*/
  text-align: center;
}
th {
  height: 100px;
  width: 400px;
  color: black;
  /*border: 1px solid black;*/
  background-color: white;
}
#equation {
  height: 30px;
}
#result {
  border-radius: 3px 3px 0 0;
}

td:hover {
  background-color: #719390;
  color: white;
}


@@media (min-width: 750px)

}
