
/* Shared
–––––––––––––––––––––––––––––––––––– */
body {
  text-align: center;
}
.quote {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  font-size: 1.8rem;
}
.small-caps {
  font-variant: small-caps;
}
.title {
  font-size: 6rem;
}
.bookSignature {
  font-size: 80%;
  margin: 10% 0 5% 0;
}
.brown {
  color: #947345;
}
.lazur {
  color: #a9d3cf;
}
.lazur2 {
  color: #719390;
}
.big {
  font-size: 10rem;
}
/* hellboy
–––––––––––––––––––––––––––––––––––––– */
.hellboy {}

/* Images
––––––––––––––––––––––––––––––––––––– */

header {
text-align: center;
}
.headerImg {
  max-width: 100%;
  margin-top: -10%;
}

/* footer
––––––––––––––––––––––––––––––––––––––– */
footer {
  text-align: center;
}
.FooterBox {
  border: 5px solid #2F2F31;
  border-radius: 2px;
  overflow: hidden;
  background: #2F2F31;
  min-height: 10%;
  padding-bottom: 0;
  margin-bottom: 0;
}
.FooterBox a {
  text-decoration: none;
  color: #947345;
  line-height: 3.6;
}
/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
  .FooterBox a {
    line-height: 1.6;
  }
}


  /*my colors reference
  rgba(255, 0, 0, 0.4)
  #ce5a57
  #57a5a3
  #e1b16a
  #777c76
  #444c5c
  #839aa4*/
