body {
  padding: 0;
}


.highlight {
  font-style: italic;
  padding: 2rem;
  background-color: #ccc;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0 0 #aaa;
}

.Hellboy {
padding: 0;
}


.indexBlogLink {
  text-decoration: none;
  color: black;
}

.backTop {
  align-items: center;
}

.backTop a {
  font-size: 1rem;
  display: inline;
}

header {
  margin-top: 0;
  margin-bottom: 40px;
  background-color: black;
}

header a {
  text-decoration: none;
  float: none;
  color: white;
  font-size: 0.8em;
  padding-right: 4em;
}

footer {
  margin-top: 40px;
  background-color: black;
}

footer a {
  text-decoration: none;
  float: none;
  color: white;
  font-size: 0.8em;
}

.headerIcon img {
  height: 40px;
}

.footerIcon img  {
  height: 30px;
  }


.empty {
  height: 3rem;;
}
