h3 {
  color: #5D535E;
  /*font-size: 1.2em;*/
}

h4 {
  color: #5D535E;
}

p {
  font-size: 1m;
  color: #5D535E;
}

a {
  text-decoration: none;
  /*color: #EC9624;*/
  /*color: #DFE166;*/
  color: #5D535E;
  font-family: sans-serif;
  font-weight: lighter;
  /*text-align: center;*/
  font-size: 1em;
}

.homelink {
  font-size: 0.6em;
  color: #DFE166;
}

div .allfrontdivs {
  margin: 0;
  display: block;
  align-items: center;
  text-align: center;
}

div .title {
  display: inline-block;
}

div .image {
  display: block;
}

div .links {
  display: inline-block;
}

img {
  width: 3em;
  height: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
