h3 {
  color: #5D535E;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  text-transform: capitalize;
  line-height: 1.250em;
  letter-spacing: -1px;
  padding-bottom: 5px;
  font-weight: 700;
  display: inline-block;

  font-size: 2em;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

h4 {
  color: #5D535E;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  text-transform: capitalize;
  font-size: 1.5em;
  line-height: 1.250em;
  letter-spacing: -1px;
  padding-bottom: 10px;
  font-weight: 700;
  display: inline-block;

}

p {
  font-size: 1em;
  color: #5D535E;
}

a {
  text-decoration: none;
  /*color: #EC9624;*/
  /*color: #DFE166;*/
  color: #5D535E;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 1em;
}

.homelink {
  font-size: 0.8em;
  color: #DFE166;
}

img {
  width: 4em;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0
}
