h3 {
  color: #5D535E;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  text-transform: capitalize;
  line-height: 1.250em;
  padding-bottom: 10px;
  font-weight: 700;
  display: inline-block;

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

/* my typing effect source:  https://css-tricks.com/snippets/css/typewriter-effect/*/
}

h4 {
  color: #5D535E;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  text-transform: capitalize;
  font-size: 1.5em;
  line-height: 1.250em;
  letter-spacing: -1px;
  padding-bottom: 10px;
  font-weight: 700;
  display: inline-block;

}

p {
  font-size: 1em;
  color: #5D535E;
}

a {
  text-decoration: none;
  /*color: #EC9624;*/
  /*color: #DFE166;*/
  color: #5D535E;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 1em;
}

.homelink {
  font-size: 0.8em;
  color: #DFE166;
}

img {
  width: 4em;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0
}
