
/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.top-img {
  width: 100%;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.heroImages {
  position: relative;
}
.heroImage {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -13rem;
}
.heroImage + .heroImage {
  display: none;
}

.hero-alert {
  font-size: 0.7rem;
  margin-top: -2rem;
  text-align: center;
}


/* footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
 .footerlinks {
   text-decoration: none;
   color: black;
 }

footer {
  text-align: center;
}

@media (max-width: 550px){
  .hero-heading {
    color: #ce5a57;
  }
  .h5-hero-one, .h5-hero-two,
  .h5-hero-three, .h5-hero-four {
    color: #356462;
  }
}


/*more than 550*/
@media (min-width: 550px) {
  .section {
    padding: 8rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 100%;
  }
  .hero-one {
    background-color: #839aa4;
  }
  .hero-four {
    background-color: #cee4e4;
  }
  .h5-hero-two {
    background-color: #f6e9d5;
  }

  .heroImage {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .heroImage + .heroImage {
    top: -5rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 3.2rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 12rem 0 14rem;
  }

  .hero-two {
    background-color: #f6e9d5;
    margin-top: -20rem;;

  }
  .h5-hero-two {
    padding-top: 20rem;
  }

  .h5-hero-three {
    background-color: #eec5c3;
  }

  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .heroImage {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .heroImage + .heroImage {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 18rem 0 19rem;
  }
  .hero {
    padding: 12rem 0;
  }
  .hero-three {
    background-color: #eec5c3;
    padding-bottom: 20rem;
  }
  .h5-hero-three {
    background-color: #eec5c3;
  }
  .hero-heading {
    font-size: 3.2rem;
  }
  .heroImage {
    top: -16rem;
    max-height: 615px;
  }
  .heroImage + .heroImage {
    top: -14rem;
    max-height: 570px;
  }
}

/*//only to add 4th div color //*/
@media (min-width: 1100px) {
  .hero-four {
    background-color: #cee4e4;
  }
  .section {
    padding: 18rem 0 19rem;
  }
  .hero {
    padding: 12rem 0;
  }

  .hero-heading {
    font-size: 3.2rem;
  }
  .heroImage {
    top: -16rem;
    max-height: 615px;
  }
  .heroImage + .heroImage {
    top: -14rem;
    max-height: 570px;
  }
}


  /*colors used
  #ce5a57
  #57a5a3
  #e1b16a
  #444c5c
  #839aa4*/
