
/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 0;
}
h3 {
  font-size: 5rem;
  color: #e1b16a;
}
h5 {
  color: #ce5a57;
  text-align: center;
  margin-top: 2rem;
}
.h5-code {
  color: #6e7166;
}
.word-color {
  color: #ce5a57;
}

.description {
  text-align: justify;
}
.center {
  text-align: center;
}
.mobile {
  color: #c0af93;
  font-size: 1.5rem;
  font-style: italic;
  font-family: serif;
  margin-top: -3rem;
}
.PushLeftRight {
  padding: 0 3rem;
}
.smallScreen {
  display: none;
  color: #d9cbae;
  font-size: 1.5rem;
  font-style: italic;
  font-family: serif;
  margin-top: -3rem;
}

.desktop {
  display: none;
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: -4rem;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero-heading {
  background-color: #6e7166;
  text-align: center;
  margin: 0;
  padding: 3rem 0;
}
.first-topic-push {
  margin-top: 5rem;
}

/* Functions
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.code {
  font-size: 1.3rem;
  font-style: italic;
  padding: 2rem 0 0 2rem;
  padding-left: 5rem;
}

/* footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer a {
   text-decoration: none;
   color: black;
   margin-top: 4rem;
 }

footer {
  text-align: center;
  padding-bottom: 2rem;
}

/*more than 550*/
@media (min-width: 550px) {
.code {
  font-size: 1.4rem;
  font-style: italic;
  padding: 10rem 0 0 2rem;
}
footer {
  padding-bottom: 0rem;
}
}

/* Bigger than 750 */
@media (min-width: 750px) {
h3 {
  color: white;
  font-size: 7rem;
}
.hero-heading {
  background-color: #777c76;
}
.mobile {
  display: none;
}
.smallScreen {
  display: inline-block;
}
.desktop {
  display: none;
}
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  h3 {
    font-size: 10rem;
  }
  .smallScreen {
    display: none;
  }
  .desktop {
    display: inline-block;
  }
}





  /*colors used
  #ce5a57
  #57a5a3
  #e1b16a
  #444c5c
  #839aa4*/
