html {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-weight: 400;
}
body {
  background: #616c6f;
  color: #bfbfbf;
}
h4 {
  color: white;
}
a {
  text-decoration: none;
  color: #e1b16a;
}

.Hellboy {
  border: 5px solid #777c76;
  border-radius: 2px;
  overflow: hidden;
  margin: 0 2% 25px 0;
  /*position: relative;*/
  background: #777c76;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.28);
  min-height: 200px;

}

/*scalable vector graphics subsite*/
.parrot-svg-show {
  width: 50px;
  padding-top: 100px;
}
/*.....*/

.footerDiv {
  text-align: center;
}
/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
  .mineSweeperLink {
    text-align: left;
}
.footerDiv {
  margin-top: 40%;
}
/* Larger than tablet */
@media (min-width: 750px) {
}
h4 {
  font-weight: bold;
  text-align: center;
}
.footerDiv {
  margin-top: 30%;
}
/* Larger than desktop */
@media (min-width: 1000px) {
  .footerDiv {
    margin-top: 20%;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}







  /*my colors reference
  rgba(255, 0, 0, 0.4)
  #ce5a57
  #57a5a3
  #e1b16a
  #777c76
  #444c5c
  #444c5c
  #839aa4
  #88a3aa
  #a5a999**/
