html {
  font-weight: 400;
}
body {
  background: silver;
}
h4 {
  color: #666666;
  font-weight: bold;
  text-align: center;
}
a {
  text-decoration: none;
  transition: 0.8s;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #aec3c1;
}
a:hover{
  cursor: pointer;
  color: black;
}

.container {
  margin-top: 10%;
}

.Hellboy {
  color: #404040;
  border-radius: 3px;
  /*font-variant: small-caps;*/
  padding: 0;
  /*border: 5px solid white;
  border-radius: 2px;*/
  overflow: hidden;
  margin: 0 2% 25px 0;
  /*position: relative;*/
  background: white;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.28);
  min-height: 200px;
  text-align: center;
}
/*.Hellboy .projectTitle {
  background-color: #ce5a57;
}*/
.Hellboy .projectDescription{
  padding-left: 4px;
}

.Hellboy h6 {
  color: black;
  padding: 2px;
  font-size: 110%;
  text-align: center;
}
.textCenter {
  text-align: center;
  font-size: 80%;
}
/*scalable vector graphics subsite*/
.parrot-svg-show {
  width: 50px;
  padding-top: 100px;
}
/*.....*/
.footerDiv {
  text-align: center;
}
.footerDiv a {
  color: #666666;
}
/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
  .mineSweeperLink {
    text-align: left;
}
.footerDiv {
  margin-top: 40%;
}
/* Larger than tablet */
@media (min-width: 750px) {
}

.footerDiv {
  margin-top: 30%;
}
/* Larger than desktop */
@media (min-width: 1000px) {
  .footerDiv {
    margin-top: 20%;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}







  /*my colors reference
  "#333333",
  "#444444",
  "#666666",
  "#888888",
  "#999999",
  "#222222",
  "#181818",
  "#ce5a57",
  "#57a5a3",
  "#e1b16a",
  "#777c76",
  "#444c5c",
  "#839aa4"*/
